<div class="container my-4">
  <div class="row">
    <!-- Sidebar de navegación -->
    <div class="col-md-3 px-3">
      <div class="list-group bg-white list-group-flush">
        <a class="list-group-item list-group-item-action bg-primary text-white">
          <strong>Secciones</strong>
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="introduccion"
        >
          Introducción
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="operaciones-habilitadas"
        >
          Operaciones habilitadas
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="transacciones"
        >
          Transacciones
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="costo-del-servicio"
        >
          Costo del Servicio
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="vigencia"
        >
          Vigencia
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="validez-operaciones-notificaciones"
        >
          Validez de operaciones y notificaciones
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="propiedad-intelectual"
        >
          Propiedad intelectual
        </a>
        <a
          class="list-group-item list-group-item-action item-router"
          [routerLink]="['/terms']"
          fragment="privacidad-informacion"
        >
          Privacidad de la información
        </a>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="col-md-9 px-3">
      <div class="bg-white p-3">
        <section id="introduccion">
          <h2 class="text-center mb-4">Términos y Condiciones</h2>
        </section>

        <p>
          Bienvenido a <strong>Viaje Total</strong>, proporcionado por
          <strong>Zambotti Nico</strong>. Nos complace ofrecerle acceso al
          Servicio, sujeto a estos términos y condiciones (los "Términos de
          Servicio") y a la Política de Privacidad correspondiente de
          <strong>Viaje Total</strong>. Al acceder y utilizar el Servicio, usted
          expresa su consentimiento, acuerdo y entendimiento de los Términos de
          Servicio y la Política de Privacidad.
        </p>

        <section id="operaciones-habilitadas" class="mt-4">
          <h4>Operaciones habilitadas</h4>
          <p>
            Las operaciones habilitadas son aquellas que estarán disponibles
            para los clientes, quienes deberán cumplir los requisitos vigentes
            para operar el Servicio.
          </p>
        </section>

        <section id="transacciones" class="mt-4">
          <h4>Transacciones</h4>
          <p>
            La solicitud de un producto o servicio no implica obligación alguna
            para el acceso y uso del Servicio.
          </p>
        </section>

        <section id="costo-del-servicio" class="mt-4">
          <h4>Costo del Servicio</h4>
          <p>
            <strong>Viaje Total</strong> podrá cobrar comisiones por el
            mantenimiento y/o uso de este Servicio.
          </p>
        </section>

        <section id="vigencia" class="mt-4">
          <h4>Vigencia</h4>
          <p>
            El Usuario podrá dejar sin efecto la relación que surja de la
            presente, sin otra responsabilidad.
          </p>
        </section>

        <section id="validez-operaciones-notificaciones" class="mt-4">
          <h4>Validez de operaciones y notificaciones</h4>
          <p>
            Los registros emitidos por la app serán prueba suficiente de las
            operaciones cursadas.
          </p>
        </section>

        <section id="propiedad-intelectual" class="mt-4">
          <h4>Propiedad intelectual</h4>
          <p>El software en Argentina está protegido por la ley 11.723.</p>
        </section>

        <section id="privacidad-informacion" class="mt-4">
          <h4>Privacidad de la información</h4>
          <p>
            Para utilizar los Servicios ofrecidos por
            <strong>Zambotti Nico</strong>, los Usuarios deberán facilitar datos
            personales.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
