/* You can add global styles to this file, and also import other style files */
.feature-container span{
    position: relative;
    color: #ffff;
    background-color: grey;
    margin-right: 5px;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: default;
}
.yellow-star {
    color: #ffa723;
}

.gray-star {
    color: gray;
}
.gray-half-star{
    color: #ffa723;
}
body{
    background-color: #ebebeb;
}

.bg-white{
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)!important;
}