<div class="card bg-white"  >  
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5 class="card-title">Filtrar por:</h5></li>
      <div style="overflow-x: scroll;">
        <li class="list-group-item features-list">
          @for (feature of features; track $index) {
              <div class="form-check" >
                  <input class="form-check-input" type="checkbox" value="" [id]="feature.id" (change)="onFeatureChange(feature)">
                  <label class="form-check-label" for="{{feature.id}}">
                    {{ feature.name }}
                  </label>
                </div>
          }
        </li>
      </div>
    </ul>
  </div>