<div class="container-fluid mb-5">
  <div class="row pt-2 mb-3">
    @if (currentUrl!='/reports/cabin/create') {
      <div class="col d-flex justify-content-end">
        <div class="button" (click)="downloadPDF()">
          <div class="button-wrapper">
            <div class="text">Descargar</div>
            <span class="icon">
              <i class="bi bi-download"></i>
            </span>
          </div>
        </div>
      </div>
    }@else {
      <div style="height: 35px;"></div>
    }
  </div>



  <div class="row">
    <div class="col-md-3 mb-3 border-end">
      <div class="list-group bg-white list-group-flush">
        <a class="list-group-item list-group-item-action bg-primary text-white ">
           <strong>Acciones</strong>
        </a>
        <a class="list-group-item list-group-item-action item-router" [routerLink]="['/reports/cabin/create']" routerLinkActive="active">
          <i class="bi bi-plus-circle"></i> Crear Cabaña
        </a>
        <a class="list-group-item list-group-item-action bg-primary text-white ">
          <strong>Reportes</strong>
       </a>
        <a class="list-group-item list-group-item-action item-router" [routerLink]="['/reports/cabin']" routerLinkActive="active">
          <i class="bi bi-house"></i> Por Cabaña
        </a>
        <a class="list-group-item list-group-item-action item-router" [routerLink]="['/reports/user']" routerLinkActive="active">
          <i class="bi bi-person"></i> Por Usuario
        </a>
        <a class="list-group-item list-group-item-action item-router" [routerLink]="['/reports/year']" routerLinkActive="active">
          <i class="bi bi-calendar"></i> Por Año
        </a>
        
      </div>
    </div>
    
    
    <div class="col-md-9">
      <div class="bg-white">
        <div class="p-3"
          id="reportContent"
          style="overflow-x: auto; width: 100%;"
        >
        <router-outlet></router-outlet>
          
        </div>
      </div>
    </div>
  </div>  
</div>
