<div class="error-page text-center text-white my-5 shadow">
    <div class="bg-danger p-3 rounded-top">
        <i class="bi bi-x-circle" style="font-size: 3rem; color: white;"></i>
        <h1>Error en el Pago</h1>
        <p class="lead">No pudimos completar tu pago. Por favor, intenta nuevamente.</p>
    </div>
    
    <div class="p-3">
        <p class="text-muted">Asegúrate de que tu método de pago esté disponible y que la información sea correcta.</p>
    </div>

    <div class="actions pb-2">
        <button class="btn btn-secondary" routerLink="/cabins">Volver a la página principal</button>
        <button class="btn btn-warning" routerLink="/support">Contactar Soporte</button>
    </div>
</div>
