<nav aria-label="breadcrumb mt-0">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/cabins">Cabañas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
  </nav>
<div class="container mt-4 mb-5">
    
    <div class="row">
      <div class="col-md-3 p-0 mb-2">
        <div class=" bg-white w-100 py-md-3">
          
          <app-user-info></app-user-info>
        </div>
      </div>
      
      <div class="col-md-9  second-column">
        <div class="bg-white w-100 p-3">
            <h3>Mis Reservas</h3>
            <app-reservation-list></app-reservation-list>
        </div>
      </div>
    </div>
  </div>
  