@media (max-width: 768px) {
    h2{
        font-size: 15px;
        text-align: center;
        overflow-wrap: break-word;
    }
}


.page-break {
    page-break-before: always; /* For PDF generation */
    break-before: page; /* For browser compatibility */
  }
  