.img-cabin{
    width: 200px !important;
    object-fit: cover;
    max-height: 414px;
}



.link-cabin-detail p:hover{
    color: #ffa723 !important;
}

@media (max-width: 576px) {
    .img-cabin{
        width: 100% !important;
    }
    .padding-custom{
        padding: 0px;
    }
}