<div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="text-muted">Parece que te has perdido...</h5>
        <p class="text-muted">No podemos encontrar lo que estás buscando.</p>
        <p>
          <a 
            routerLink="/cabins" 
            routerLinkActive="router-link-active" 
            class="btn btn-primary"
          >
            Volver a la página principal
          </a>
        </p>
        <img
          class="img img-fluid shadow mb-3"
          src="../../assets/6100295.jpg"
          alt="Persona perdida con flechas"
          style="max-width: 400px; width: 100%"
        />
      </div>
    </div>
  </div>
  